html {
  background-color: #000000;
  height: 100%;
  width: 100%;
}
header {
  height: 18%;
  width: 90%;
  text-align: center;
  background-color: #E60079;
  color: #000;
}
footer {
  height: 18%;
  width: 90%;
}
body {
  background-color: #333333;
  height: 95%;
  width: 95%;
}
section {
  background-color: #666666;
  position: relative;
  display: block;
  height: 80%;
  width: 70%;
  float: right;
}
aside {
  background-color: #000000;
  float: left;
  height: 80%;
  width: 20%;
  position: relative;
  display: block;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
a {
  color: #ffffff;
}
