html {
  background-color: #000000;
}
body {
  background-color: #E60079;
}
aside {
  background-color: #000000;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
a {
  color: #ffffff;
}
