html {
  background-color: #000000;
  height: 100%;
  width: 100%;
}
body {
  background-color: #E60079;
  height: 80%;
  width: 80%;
  position: relative;
}
aside {
  background-color: #000000;
  float: left;
  height: 80%;
  width: 20%;
  position: relative;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
a {
  color: #ffffff;
}
